<div class="sidebar-container">
  <ul class="sidebar-navigation">
    <li class="header">Statistics</li>
    <li>
      <a href="{% url 'chart:chart-total' %}">
          <i class="fa fa-bar-chart" aria-hidden="true"></i>All books by language
      </a>
    </li>
    <li>
      <a href="{% url 'chart:chart-total-read' %}">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>All read books by language
      </a>
    </li>
    <li>
      <a href="{% url 'chart:chart-reading-timeline' %}">
        <i class="fa fa-calendar" aria-hidden="true"></i>Reading timeline
      </a>
    </li>
  </ul>
</div>