{% extends "home_lib/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-pixel-width-580">
                <div class="insert_window" method="POST">
                    <h1>Log out</h1>
                    <h3>You've been logged out</h3>
                    <small>
                        <a class="ml-2" style="color: #bfa170" href="{%  url 'login' %}">Log in again</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


