{% extends "home_lib/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-pixel-width-580">
                <form class="insert_window" method="POST">
                    {% csrf_token %}
                    <h1>Reset password</h1>

                    {{ form|crispy }}

                    <button class="button" type="submit" name="submit_button" value="add_book">Reset password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}



