{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'home_lib/main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>


</head>
<body>

    <div class="content container">
        <nav class="navbar navbar-expand-lg navbar-dark navcolor mb-0">
            <div class="container">
                <a class="navbar-brand ml-3 mr-3" href="{% url 'book:home' %}">Home Library</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link mr-2" href="{% url 'book:book-create-options' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New Book</a>
                         <a class="nav-item nav-link mr-2" href="{% url 'book:book-search' %}">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Your Bookshelf</a>
                        <a class="nav-item nav-link mr-2" href="{% url 'book:book-read' %}">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Read Books</a>
                        <a class="nav-item nav-link mr-2" href={% url 'book:book-wishlist' %}>
                            <span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Wishlist</a>
                        <a class="nav-item nav-link mr-2" href="{% url 'chart:stats' %}">
                            <span class="fa fa-bar-chart" aria-hidden="true" style="font-size: 18px;"></span> Statistics</a>
                    </div>
                    <div class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link mr-2" href="{% url 'logout' %}" >Logout</a>
                        {% else %}
                        <a class="nav-item nav-link mr-2" href="{% url 'login' %}" >Login</a>
                        <a class="nav-item nav-link mr-2" href="{% url 'register' %}" >Register</a>
                        {% endif %}
                    </div>

                </div>
            </div>

        </nav>
        {% if not sidebar %}
            <div class="mb-2"></div>
            {% if messages and not sidebar %}
                {% include "partials/messages_snippet.html" %}
            {% endif %}
        {% endif %}

        {% block content %}

        {% endblock content %}

        <div class="bottom-link">
        <a class="backgrd-web-link" href="https://www.freepik.com/vectors/background">Background vector created by starline - www.freepik.com
        <style>.backgrd-web-link {color: gray}</style>
        </a>
        </div>

        {% block scripts %}
        {% endblock scripts %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>