{% extends "base.html" %}
{#{% extends "base.html" %}#}

{% load crispy_forms_tags %}
{% block content %}


    <div class="container">
        <div class="row">

        <!-- Sidebar -->


        <div class="pr-0">
            <div class="sidebar-container">
              <ul class="sidebar-navigation">
                <li class="header">Add a new book</li>
                <li>
                  <a href="{% url 'book:book-enter-isbn' %}">
                      <i class="fa fa-laptop" aria-hidden="true"></i>Add using ISBN search
                  </a>
                </li>
                <li>
                  <a href="{% url 'book:book-create-manually' %}">
                    <i class="fa fa-hand-paper-o" aria-hidden="true"></i>Add manually
                  </a>
                </li>
              </ul>
            </div>
        </div>
                <!-- End of Sidebar -->

           <div class="content-container container-fluid pr-0">

           <!-- Messages inserted in this column and different base.html used, to avoid the sidebar
           being pushed down by messages -->
            {% include "partials/messages_snippet.html" %}

               <div class="margins-around">
                    <section class="window_table w-100">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-light table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Year</th>
                                        <th>Language</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {%  if not page_obj %}
                                        <td colspan="5">There are no books in the database yet.</td>
                                    {% endif %}
                                     {% for book in page_obj %}

                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td class="table-title-row">{{book.title}}</td>
                                                <td>{{book.author}}</td>
                                                <td>{{book.year}}</td>
                                                <td>{{book.get_language_display }}</td>
                                            </tr>
                                     {% endfor %}
                                </tbody>
                            </table>

                            {% if number_of_pages > 1 %}
                                {% include "partials/book_pagination_snippet.html" %}
                            {% endif %}

                        </div>
                    </section>
               </div>
            </div>
        </div>
    </div>
{% endblock content %}
