{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron jumbotron-fluid mb-2">
            <div class="container">
                <h1 class="display-4">Welcome to Home Library!</h1>
                <p class="lead">This is a place where you can keep track of all your books</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <img class="home-img" src="{% static 'home_lib/stack-of-books.jpg' %}" alt="Stack of books"/>
    </div>
</div>
{% endblock %}